.login-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;

}
.login-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-login a {
    text-decoration: none;
    font-size: 24px;
    color: #555;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.register-link{
    padding-top:20px;
}
.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

.login-form button {
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-form button:hover {
    background: #0056b3;
}


.forgot-password{
    
    display: flex;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 9px;

}

.login-form .forgot-password:hover,
.register-link:hover {
    text-decoration: underline;
}