
html, body {
    background-color: #F8F8F8;
}
.card{
    background: #fefefe;
    border:none;
    color:#333;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;
    
}
.label-menu-link{
    color: #333;
    text-decoration: none;
  
    width: 100%;
    height: 100%;
}
.label-menu-link .card-title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 10px;
}
.label-menu-link:hover{
    color: #1b57fc;
    text-decoration: none;
    background-color: #f4f7ff;
}
.active{
    color: #1b57fc;
    text-decoration: none;
    background-color: #f4f7ff;
}