html,
body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
#root {
  margin-top: -0.5rem;
}
a {
  text-decoration: none;
}
a,
p,
h1,
h2,
h3,
h4 {
  color: #444;
}
a:hover {
  text-decoration: none;
}
li {
  list-style: none;
}
.form-control {
  border: none;
}
.card {
  background: #fefefe;
  border: none;
  color: #333;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 0.5rem;
}
.label-menu-link {
  font-weight: 500;
  color: #444;
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 8px;
}
.label-menu-link .card-title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
  flex: 1 1 auto;
  cursor: pointer;
}
.label-menu-link:hover {
  color: #1b57fc;
  text-decoration: none;
  background-color: #f4f7ff;
}
.active {
  color: #1b57fc;
  text-decoration: none;
  background-color: #f4f7ff;
}
.active .card-icon {
  display: block;
}
.card-icon {
  display: none;
  margin-left: 9px;
}
.label-menu-link:hover .card-icon {
  display: block;
}
.label-menu-link ._IYz6Z ._4GdcU {
  cursor: pointer !important;
}
.label-menu-link ._IYz6Z ._-wzeg {
  width: 40px;
  cursor: pointer !important;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
}
.label-menu-link ._IYz6Z ._4GdcU:hover {
  background-color: transparent !important;
}
.label-menu-link ._IYz6Z {
  width: 100%;
  cursor: pointer;
}
.label-menu-link ._IYz6Z ._NGZSv {
  background-color: transparent !important;
  display: none;
  color: #1b57fc !important;
}
.label-menu-link:hover ._IYz6Z ._NGZSv {
  background-color: transparent !important;
  display: block;
}
.active ._IYz6Z ._NGZSv {
  background-color: transparent !important;
  display: block;
}
.baseContainer {
  margin: 1rem 4rem auto;
  padding-top: 5rem !important;
}
.baseContainer .rows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 2rem auto;
}
.baseContainer .rows .label-container-card {
  max-height: 650px;
  overflow-y: scroll;
  height: 120px;
  min-height: 650px;
}
.taskContainer {
}
.taskContainer .titleContainer {
  margin-top: 2.25rem;
  margin-bottom: 0.25rem;
}
.taskContainer .cardContainer {
  max-height: 650px;
  height: 120px;
  min-height: 650px;
}
.taskContainer .titleContainer .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1bc562;
  color: #fefefe;
  padding: 0.25rem 0.5rem;
  font-size: 20px;
}
.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 0.25rem;
}
.labelContainer .card {
  width: 32px;
  height: 20px;
  border-radius: 0.25rem;
  margin: 0.5rem 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.labelContainer .card p {
  display: none;
  word-break: break-word;
  white-space: nowrap;
}
.labelContainer .card:nth-child(1) {
  background: #1b57fc;
  color: transparent;
}
.labelContainer .card:nth-child(2) {
  background: #3ce770;
  color: transparent;
}
.labelContainer .card:nth-child(3) {
  background: #c9ee24;
  color: transparent;
}
.labelContainer .card .hoverText {
  display: none;
  cursor: pointer !important;
  color: transparent;
}

.labelContainer .card:hover .hoverText {
  display: block;
}
.card .contentContainer {
  display: flex;
  width: 100%;
  padding: 3px 10px;
}
.card .contentContainer p {
  width: 100%;
}
.card .contentContainer p ._IYz6Z {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.contentContainer ._IYz6Z ._4GdcU {
  cursor: pointer !important;
}
.contentContainer ._IYz6Z ._-wzeg {
  display: flex;
  width: 100%;
  cursor: pointer !important;
  word-break: break-word;


  overflow: hidden;
}
.contentContainer ._IYz6Z ._4GdcU:hover {
  background-color: transparent !important;
}
.contentContainer ._IYz6Z {
  width: 100%;
  cursor: pointer;
}
.contentContainer ._IYz6Z ._NGZSv {
  background-color: transparent !important;
  color: #1b57fc !important;
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
}
.contentContainer:hover ._IYz6Z ._NGZSv {
  background-color: transparent !important;

}
.active ._IYz6Z ._NGZSv {
  background-color: transparent !important;

}
._4GdcU{
  overflow-y: unset;
  white-space: wrap;
}
.delete-task-icon{
  cursor: pointer;
}
